<span class="primary-box">
    <span class="title">
      <a [href]="issueUrl" target="_blank">
        {{issue.iid}}
      </a>
    </span>
    <span class="title">
        {{issue.title}}
    </span>
    <br/>
    <span class="description" *ngIf="showDescription">
        {{issue.description}}
    </span>
</span>
<span class="time-estimate" *ngIf="showEstimated">
  {{issue.time_stats.time_estimate | secondsToHumanReadable}}
</span>
<span class="time-spent" *ngIf="showSpent">
  {{issue.time_stats.total_time_spent | secondsToHumanReadable}}
</span>
<span class="time-remaining" *ngIf="showRemaining">
  {{getTimeRemaining() | secondsToHumanReadable}}
</span>
