<span class="primary-box">
    <span class="title">
        Title/Description
      </span>      
</span>
<span class="time-estimate">
  Estimate
</span>
<span class="time-spent">
  Spent
</span>
<span class="time-remaining">
  Remaining
</span>
