:host {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    &:last-child {
        border-bottom: 1px solid black;
    }
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    justify-content: space-between;

    &:nth-child(2n+1) {
        background-color: #DDD;
    }

    &.header-row {
        background-color: grey;
        font-weight: bold;
        color:white;
        font-size: 16pt;
    }
}
.primary-box {
    width: 70%;
}
.title {
    font-weight: bold;
}

.time-spent, .time-estimate, .time-remaining {
    width: 10%;
    min-width: 100px;
}