@import '../variables';

:host {
  margin-top: $typical-margin;
  display: block;
}
.settings-row {
  margin-bottom: $small-margin;
}
.show-hide-connection-btn {
  margin-bottom: $typical-margin;
}
.card {
  margin-bottom: $typical-margin;
}
