<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary show-hide-connection-btn" (click)="setupConnection=!setupConnection">
        <span class="oi oi-wrench"></span>
        Setup Connection
      </button>
      <div class="card" *ngIf="setupConnection">
        <div class="card-body">
          <form name="settingsForm" (ngSubmit)="fetchIssues()">
            <div class="form-group">
              <label for="serverUrl">Gitlab Server URL</label>
              <input name="serverUrl" class="form-control" type="text" [(ngModel)]="serverUrl" placeholder="https://lab.example.com">
              <small class="form-text text-muted">Enter your gitlab server URL here</small>
            </div>
            <div class="form-group">
              <label for="privateToken">Gitlab (API) Private Token</label>
              <input name="privateToken" class="form-control" type="text" [(ngModel)]="privateToken" placeholder="fh_dfjadh)da">
              <small class="form-text text-muted">Create a token with gitlab api access and enter it here</small>
            </div>
            <button type="button" (click)="fetchProjects()" class="btn btn-primary">
              <span class="oi oi-loop-circular"></span>
              Fetch Projects
            </button>
            <div class="form-group">
              <label for="selectedProject">Select Project</label>
              <select name="selectedProject" class="form-control" id="selectedProject" (ngChange)="fetchIssues()" required [(ngModel)]="selectedProject">
                <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}: {{project.id}}</option>
              </select>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">
              <span class="oi oi-loop-circular"></span>
              Reload Issues
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col">
      <h1>
          {{selectedProject.name}}
      </h1>
    </div>
    <div class="col">
      <h2>
        Total Estimated: {{total | secondsToHumanReadable}}
      </h2>
    </div>
  </div>
  <div class="row settings-row" *ngIf="!loading">
    <div class="col">
        <button class="btn btn-primary" (click)="exportAsCSV()">Export as CSV</button>
    </div>
    <div class="col-auto">
      <app-column-selector (columnsUpdated)="columnsUpdated($event)">
      </app-column-selector>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col">
      <app-issue-header-row>
      </app-issue-header-row>
      <app-issue-row
        *ngFor="let item of items"
        [issue]="item"
        [showEstimated]="dataVisibility.showEstimated"
        [showSpent]="dataVisibility.showSpent"
        [showRemaining]="dataVisibility.showRemaining"
        [showDescription]="dataVisibility.showDescription"
        [issueBaseUrl]="issueBaseUrl">
      </app-issue-row>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
