<div class="btn-group" dropdown (onHidden)="columnsUpdated.emit(columns)">
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <span class="oi oi-cog" title="cog" aria-hidden="true"></span>
    Columns
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li *ngFor="let column of columns" role="menuitem">
      <label class="dropdown-item">
        <input type="checkbox" [(ngModel)]="column.showing"/>
        {{column.label}}
      </label>
    </li>
    <!-- <li class="divider dropdown-divider"></li>
    </li> -->
  </ul>
</div>
